.news-feed-block {

    .post-item:not(:last-child) {
        margin-bottom: 45px;
    }

    ul,
    ol,
    dl {
        padding-left: 16px;
    }
}

.category {
    .post-item:not(:last-child) {
        margin-bottom: 62px;

        ul,
        ol,
        dl {
            padding-left: 16px;
        }
    }
}